# {{ ansible_managed }}
[Unit]
Description=Service to Run netplan on startup
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/netplan generate
RemainAfterExit=yes
